<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100 text-center" id="myModalLabel">Map Roles</h4>
  </div>
  <p class="modal-second-title">
    <mdb-icon far icon="lightbulb" class="amber-text" size="lg"></mdb-icon> Allows to manage the users to the selected
    role
  </p>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-sm-4">
          <h5 class="">
            <strong class="card-header-text" style="font-size:1rem;color: #4f4f4f !important;font-weight:500">Selected Users</strong>
          </h5>
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-right">
          <button type="button" size="sm" mdbBtn color="light" class="waves-light" mdbWavesEffect>
              <mdb-icon class="mr-1" far icon="trash-alt"></mdb-icon> Delete
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div>
            <mdb-checkbox [inline]="true">Srikanth
            </mdb-checkbox>
          </div>
        </div>
        <div class="col-4">
          <div>
            <mdb-checkbox [inline]="true">Gopi
            </mdb-checkbox>
          </div>
        </div>
        <div class="col-4">
          <div>
            <mdb-checkbox [inline]="true">Balaji
            </mdb-checkbox>
          </div>
        </div>
        <div class="col-4">
          <div>
            <mdb-checkbox [inline]="true">Upender
            </mdb-checkbox>
          </div>
        </div>
        <div class="col-4">
          <div>
            <mdb-checkbox [inline]="true">Shiva
            </mdb-checkbox>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <div class="md-form mb-0 mt-0">
            <input type="text" class="form-control" placeholder="Search" id="form" mdbInput>
          </div>
        </div>
        <div class="col-sm-4">
          <button type="button" size="sm" mdbBtn color="light" class="waves-light" mdbWavesEffect>
            Search
          </button>
        </div>
        <div class="col-sm-4 text-right">
          <button type="button" size="sm" mdbBtn color="light" class="waves-light" mdbWavesEffect>
              <mdb-icon class="mr-1" far icon="plus-square"></mdb-icon> Add
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div>
            <mdb-checkbox [inline]="true">Srikanth
            </mdb-checkbox>
          </div>
        </div>
        <div class="col-4">
          <div>
            <mdb-checkbox [inline]="true">Gopi
            </mdb-checkbox>
          </div>
        </div>
        <div class="col-4">
          <div>
            <mdb-checkbox [inline]="true">Balaji
            </mdb-checkbox>
          </div>
        </div>
        <div class="col-4">
          <div>
            <mdb-checkbox [inline]="true">Upender
            </mdb-checkbox>
          </div>
        </div>
        <div class="col-4">
          <div>
            <mdb-checkbox [inline]="true">Shiva
            </mdb-checkbox>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" size="sm" mdbBtn color="light" class="relative waves-light" (click)="save()"
      mdbWavesEffect>Save</button>
      <button type="button" size="sm" mdbBtn color="light" class="waves-light" aria-label="Close"
      (click)="modalRef.hide()" mdbWavesEffect>Cancel</button>
  </div>
</div>