<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">User Instruction</h4>

  </div>
  <div class="modal-body">
     
<p>Submission Acknowledgment and Certification</p>
  
<p>Please read the following carefully. You must agree before you proceed. As a condition to the submission of your application, you must read and indicate agreement by selecting (or clicking) I agree or I disagree. </p>
<p>I understand:</p>
<p>- the submission of my application does not mean that the request will be funded by pfizer Inc.</p>
<p>- completed applications are processed in the order in which they are received.</p>
<p>- applications to support an event/program should be submitted at least 60 days before the date of the event/program.</p>
<p>- pfizer Inc may elect to fund any application for a lesser amount than the original request.</p>
<p>- a funding agreement between pfizer Inc and the requesting organization must be executed before any funds will be paid by pfizer Inc.</p>
<p>- certain agreements require reconciliation and/or return of unused funds.</p>
<p> pfizer Inc may correct any administrative or technology-based errors which may occur during the application submission or review process.</p>
 
<p>I certify:</p>
<p>- all funding support will be used in its entirety in support of the proposed activity or activities.</p>
<p>- any funding request submitted is not in exchange for an explicit or implicit agreement to purchase, prescribe, dispense, recommend, or provide favorable formulary status for an pfizer Inc product. Furthermore, nothing in this Request application or contribution or donation is tied, in any way, to past, present, or future purchasing, prescribing, dispensing, recommending, or providing favorable formulary status of any pfizer Inc product.</p>
<p>- I am fully authorized to submit this application on behalf of the requesting organization and any partner organization(s), and I affirm that all responses and information provided in this application are truthful, accurate and complete.</p>
<p>- the requesting organization, individuals serving or acting as the requesting organizations directors, trustees and/or principals, and I, do not appear on the U.S. Department of Health and Human Services Office of the Inspector General (OIG) Exclusion List or on the U.S. Department of the Treasury Office of Foreign Assets (OFAC)Control List. Individuals and entities appearing on the OIG Exclusion List or the OFAC List are disqualified from receiving educational Requests, charitable donations advocacy/sponsorships from pfizer Inc.</p>
<p>- this application is for a program or activity that will take place in the future and not for a program or activity that has already taken place.</p>
<p>- pfizer Inc may contact me in the future by phone, fax, mail or email, for the limited purpose of evaluating my experience and satisfaction with this Requests website and process.</p>
 
<p>I acknowledge that the failure to comply with these terms may adversely impact my ability to apply for and/or receive funding in the future.</p>
  </div>
  <div class="modal-footer">
    <button type="submit" size="sm" mdbBtn color="light" class="relative waves-light" (click)="add()"
       mdbWavesEffect>Proceed</button>
    <button type="button" size="sm" mdbBtn color="light" class="waves-light" aria-label="Close"
      (click)="modalRef.hide()" mdbWavesEffect>Cancel</button>
    
  </div>
</div>