<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100 text-center" id="myModalLabel">Allocate towards a Budget Request</h4>
  </div>
  <p class="modal-second-title">
      <mdb-icon far icon="lightbulb" class="amber-text" size="lg"></mdb-icon> Enables the user to allocate the budget for the approved requests
    </p>
  <div class="modal-body">
    <form [formGroup]="allocateBudgetForm">
        
      <div class="row">
        <div class="col-sm-6" *ngIf="formFields?.budget_type">
          <div class="md-form">
            <mdb-select mdbValidate [validateSuccess]="false" [validateError]="formFields?.budget_type?.required"
              [options]="stateOptions" formControlName="budget_type" required="{{formFields?.budget_type?.required}}">
            </mdb-select>
            <label for="budget_type"><span *ngIf="formFields?.budget_type?.required" class="red-text">*</span>
              Budget Type</label>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="formFields?.budget_sub_type">
          <div class="md-form">
            <mdb-select mdbValidate [validateSuccess]="false" [validateError]="formFields?.budget_sub_type?.required"
              [options]="stateOptions" formControlName="budget_sub_type" required="{{formFields?.budget_sub_type?.required}}">
            </mdb-select>
            <label for="budget_sub_type"><span *ngIf="formFields?.budget_sub_type?.required" class="red-text">*</span>
              Budget Subtype</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <p class="mb-0 mt-3">Total Fees</p>
          <p><strong>1234567 USD</strong></p>
        </div>
        <div class="col-sm-6">
          <p class="mb-0 mt-3">Requested Amount</p>
          <p><strong>1234567 USD</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="mb-2 mt-3">Notes</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>

      <div class="row"><div class="col-lg-12 col-xs-12"><h6 class="dark-grey-text mb-2"><strong class="card-header-text">Allocation Details</strong></h6></div></div>

      <div class="row">
        <div class="col-sm-6" *ngIf="formFields?.allocated_amount">
          <div class="md-form input-group">
            <input type="text" mdbValidate [validateSuccess]="false" [validateError]="true"
              maxlength="{{formFields?.allocated_amount?.maxLength}}" class="form-control" formControlName="allocated_amount"
              id="allocated_amount" mdbInput required="{{formFields?.allocated_amount?.required}}">
              <div class="input-group-append">
                <span class="input-group-text md-addon">USD</span>
              </div>
            <label for="allocated_amount"><span *ngIf="formFields?.allocated_amount?.required" class="red-text">*</span>
              Amount</label>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="formFields?.allocated_date">
          <div class="md-form">
              <mdb-date-picker [inline]="true" name="allocated_date" [options]="myDatePickerOptions" [label]="'Date'"
                formControlName="allocated_date" required="{{formFields?.allocated_date?.required}}">
              </mdb-date-picker>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12" *ngIf="formFields?.notes">
          <div class="md-form">
            <textarea mdbValidate maxlength="{{formFields?.notes?.maxLength}}"
              [validateSuccess]="formFields?.notes?.required" formControlName="notes" id="dynmcId5" type="text"
              class="md-textarea form-control" mdbInput required="{{formFields?.notes?.required}}"></textarea>
            <label for="dynmcId5"><span *ngIf="formFields?.notes?.required" class="red-text">*</span>
              <mdb-icon far icon="sticky-note"></mdb-icon> Notes</label>
          </div>
        </div>
      </div>

      
      
      
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" size="sm" mdbBtn color="light" class="relative waves-light" (click)="modalRef.hide()"
      [disabled]="allocateBudgetForm.invalid" mdbWavesEffect>Save</button>
    <button type="button" size="sm" mdbBtn color="light" class="waves-light" aria-label="Close"
      (click)="modalRef.hide()" mdbWavesEffect>Cancel</button>
    
  </div>
</div>