<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100 text-center" id="myModalLabel">{{heading}} Privilege</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="privilegeForm">
      <div class="row">
        <div class="col-sm-12" *ngIf="formFields?.privilege_module_name">
          <div class="md-form">
            <input type="text" mdbValidate [validateSuccess]="false" [validateError]="true"
              maxlength="{{formFields?.privilege_module_name?.maxLength}}" class="form-control"
              formControlName="privilege_module_name" id="dynmcId" mdbInput
              required="{{formFields?.privilege_module_name?.required}}">
            <label for="dynmcId"><span *ngIf="formFields?.privilege_module_name?.required"
                class="red-text">*</span>Module Name</label>
          </div>
        </div>
        <div class="col-sm-12" *ngIf="formFields?.privilege_feature_name">
          <div class="md-form">
            <input type="text" mdbValidate [validateSuccess]="false" [validateError]="true"
              maxlength="{{formFields?.privilege_feature_name?.maxLength}}" class="form-control"
              formControlName="privilege_feature_name" id="dynmcId1" mdbInput
              required="{{formFields?.privilege_feature_name?.required}}">
            <label for="dynmcId1"><span *ngIf="formFields?.privilege_feature_name?.required"
                class="red-text">*</span>Feature Name</label>
          </div>
        </div>
        <div class="col-sm-12" *ngIf="formFields?.privilege_opr_name">
          <div class="md-form">
              <mdb-select mdbValidate [validateSuccess]="false" [validateError]="formFields?.privilege_opr_name?.required"
              [options]="privilegesOperations" formControlName="privilege_opr_name" required="{{formFields?.privilege_opr_name?.required}}">
            </mdb-select>
            <label for="dynmcId3"><span *ngIf="formFields?.privilege_opr_name?.required"
                class="red-text">*</span>Operation Name</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" size="sm" mdbBtn color="light" class="relative waves-light" (click)="save()"
      *ngIf="heading === 'Add' || heading === 'Edit'" [disabled]="privilegeForm.invalid" mdbWavesEffect>Save</button>
      <button type="button" size="sm" mdbBtn color="light" class="waves-light" aria-label="Close"
      (click)="modalRef.hide()" mdbWavesEffect>Cancel</button>
  </div>
</div>