<div class="row">
  <div class="col-3">
      <mdb-breadcrumb customClass="black-text lighten-4 custom-breadcrumb"
          style="font-size:13px;text-transform:uppercase;">
          <mdb-breadcrumb-item>Reconciliation
          </mdb-breadcrumb-item>
      </mdb-breadcrumb>
  </div>
  <div class="col-9">
      <app-operations-bar [operations]="operations" [enableOperations]="selectedRow?true:false"
          (callbackOperation)="onCallbackOperation($event)"></app-operations-bar>
  </div>
</div>


<app-client-grid [columnDefs]="columnDefs" [rowData]="rowData" (setGridApi)="onSetGridApi($event)" [operations]="operations" [advanceSearch]="advanceSearch"
(callbackOperation)="onCallbackOperation($event)"
 (selectionChanged)="onSelectionChanged($event)" (rowDoubleClicked)="onRowDoubleClicked($event)">
</app-client-grid>