<div class="container pt-5">
  <!-- Material form login -->
  <div class="row" style="margin-top: 7%;">
    <div class="col-sm-4"></div>
    <div class="co-sm-6">
      <a><img src="../assets/images/logo.png" class="img-fluid flex-center login-logo"></a>
      <h3 style="text-align: center;font-weight: 400;color: #969696;margin-bottom: 2rem;">Reset your password</h3>
      <mdb-card>
        <mdb-card-body class="px-lg-5 pt-0">
          <form class="text-center" style="color: #757575;">
            <p class="reset-text">Enter your email address and we will send <br> you a link to reset your password</p>
            <div class="md-form">
              <input type="text" id="materialLoginFormEmail" class="form-control" mdbInput required>
              <label for="materialLoginFormEmail">Enter your email address</label>
            </div>
            <button mdbBtn color="dark-green" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
              type="button">Send password reset email</button>
          </form>

        </mdb-card-body>

      </mdb-card>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>