<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100 text-center" id="myModalLabel">Attach Documents</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <p class="mb-0 mt-3">Module</p>
        <p><strong>IST</strong></p>
      </div>
      <div class="col-sm-6">
        <p class="mb-0 mt-3">Screen Name</p>
        <p><strong>IST</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="mb-2 mt-3">Description</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h6 class="dark-grey-text mb-2"><strong class="card-header-text">Attached Documents</strong> <button style="float: right;" size="sm" type="button" mdbBtn color="light" (click)="selectDocuments($event)" mdbWavesEffect>Add Document Type</button> </h6>
      </div>      
    </div>
    <div class="row org-grid mb-3" *ngIf="rowData?.length">
      <div class="col-lg-12" *ngIf="loadGrid">
        <ag-grid-angular style="width: 98%;" class="ag-theme-balham simple-grid" style="height: calc(100% -  49px)"
          [rowData]="rowData" [columnDefs]="columnDefs" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents" [context]="context">
        </ag-grid-angular>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" size="sm" mdbBtn color="light" class="relative waves-light" (click)="modalRef.hide()"
      mdbWavesEffect>Save</button>
    <button type="button" size="sm" mdbBtn color="light" class="waves-light" aria-label="Close"
      (click)="modalRef.hide()" mdbWavesEffect>Cancel</button>
    
  </div>
</div>