<div class="row">
  <div class="col-3">
      <mdb-breadcrumb customClass="black-text lighten-4 custom-breadcrumb"
          style="font-size:13px;text-transform:uppercase;">
          <mdb-breadcrumb-item class="step-up">Lookups
          </mdb-breadcrumb-item>
      </mdb-breadcrumb>
  </div>
  <div class="col-9">
      <app-operations-bar [operations]="operations"
          [enableOperations]="selectedRow?true:false" (callbackOperation)="onCallbackOperation($event)">
      </app-operations-bar>
  </div>
</div>

<app-client-grid [columnDefs]="columnDefs" [rowData]="rowData" [operations]="operations" (callbackOperation)="onCallbackOperation($event)"
  [advanceSearch]="advanceSearch" [skipCaseDetails]="true" (setGridApi)="onSetGridApi($event)" (selectionChanged)="onSelectionChanged($event)"
  (rowDoubleClicked)="onRowDoubleClicked($event)">
</app-client-grid>