<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">User Instruction</h4>

  </div>
  <div class="modal-body">
    <p>Zeta-Pharma Oncology is committed to developing next-generation immunotherapy platforms that leverage cell- and gene-based therapies to treat patients with cancer. Zeta-Pharma believes that the best way for patients to access medicines not yet approved or licensed by the U.S. Food and Drug Association (FDA), “investigational medicines,” is to participate in clinical trials, where outcomes are used to establish the safety and efficacy of the medicine.</p>
    <p>Zeta-Pharma recognizes, however, there are instances when a patient has a life-threatening disease with no available options for treatment, including clinical trials; in such situations, expanded access may be an option. Regulations do allow the provision of un-approved treatments to patients under certain circumstances; such individual use of an unlicensed investigational drug may go under various names including “compassionate use”, “expanded access” or “Right to Try”. Zeta-Pharma refers to these collectively as “expanded access”.</p>
    <p>Zeta-Pharma is committed to reviewing requests for expanded access that meet the following criteria (including, but not limited to):</p>
    <p>• The patient has a serious or life-threatening condition</p>
<p>• The treatment is under active clinical investigation via clinical trials or all clinical trials have been completed and the treatment has not yet received approval in the country from which the request is initiated</p>
<p>• The patient is ineligible or unable to participate in a clinical trial using the investigational treatment</p>
<p>• The patient has undergone any appropriate standard treatments without success and there are no alternative treatments available.</p>
<p>• The potential benefits of treating the patient with the investigational treatment justify the potential risks of the treatment</p>
<p>To be considered, the patient or treating physician must complete the Expanded Access Submission Form (please refer to the link below) and submit the form via email to expandedaccess@Zeta-Pharma.com.</p>
<p>An interdisciplinary team at Zeta-Pharma will review requests on a case-by-case basis to determine whether access should be granted in light of the above criteria.  In addition to the above criteria, all legal and regulatory requirements must be fulfilled.   Zeta-Pharma plans to provide a response within three business days. Requests originating outside the United States may take up to five business days.  Please note that all requests will be considered, however, Zeta-Pharma cannot guarantee the provision of investigational therapy to any patient.</p>
   </div>
  <div class="modal-footer">
    <button type="submit" size="sm" mdbBtn color="light" class="relative waves-light" (click)="add()"
       mdbWavesEffect>Proceed</button>
    <button type="button" size="sm" mdbBtn color="light" class="waves-light" aria-label="Close"
      (click)="modalRef.hide()" mdbWavesEffect>Cancel</button>
    
  </div>
</div>